asgiref==3.8.1
azure-core==1.32.0
azure-storage-blob==12.24.0
beautifulsoup4==4.12.3
bleach==6.2.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cryptography==43.0.1
defusedxml==0.8.0rc2
Django==5.1.2
django-allauth==65.1.0
django-appconf==1.0.6
django-compressor==4.5.1
django-cors-headers==4.6.0
django-filter==24.3
django-markdownify==0.9.5
djangorestframework==3.15.2
idna==3.10
isodate==0.7.2
markdown2==2.5.1
oauthlib==3.2.2
packaging==24.2
pillow==10.4.0
pycparser==2.22
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python3-openid==3.2.0
rcssmin==1.1.2
requests==2.32.3
requests-oauthlib==2.0.0
rjsmin==1.2.2
setuptools==75.1.0
six==1.16.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
soupsieve==2.6
sqlparse==0.5.1
swagger-client @ file:///Users/anuragsingh/Documents/GitHub/LLM/wishper_v3_llm/python-client
tinycss2==1.4.0
typing_extensions==4.12.2
urllib3==2.2.3
webencodings==0.5.1
