{% extends "allauth/layouts/main_base.html" %}
{% load i18n %}
{% load static %}
{% load allauth account %}
{% block head_title %}
{% trans "Profile" %}
{% endblock head_title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'assets/css/gmail/gmail_manage.css' %}">
<script src="https://unpkg.com/htmx.org@1.9.5"></script>
<script src="{% static 'assets/js/gmail_scripts.js' %}"></script>

{% endblock stylesheet %}
{% block pages %}

<div class="row">
    <div class="col-md-12">
        <div class="row emails_general_informations">
            <div class="col-md-3">
                <div class="main_btn_desg col-md-12" id="gmail-details-container">
                    <span class="button_top"> 
                        <h6 style="display: flex; justify-content: space-between;">
                            General Gmail Account Details
                            <button 
                                class="gmail_refresh_total" 
                                hx-get="{% url 'gmail_manage:refresh_gmail_data' %}"
                                hx-target="#gmail-details-container" 
                                hx-swap="innerHTML"
                                onclick="rotateIcon()">
                                <i id="refresh-icon" data-feather="refresh-ccw"></i>
                            </button>
                        </h6>
                        <div class="skdf" style="overflow: hidden;">
                            <i class="tsdjhses" data-feather="mail"></i> 
                            Email Address: 
                            <span class="total_emails_counts">{{ account_details.primary_email|truncatechars:20 }}</span>
                        </div>
                        <div class="skdf">
                            <i class="tsdjhses" data-feather="mail"></i> 
                            Total Messages: 
                            <span class="total_emails_counts">{{ account_details.total_messages }}</span>
                        </div>
                        <div class="skdf">
                            <i class="tsdjhses" data-feather="mail"></i> 
                            Total Threads: 
                            <span class="total_emails_counts">{{ account_details.total_threads }}</span>
                        </div>
                    </span>
                </div>                
            </div>
        </div>


    </div>
</div>

{% endblock pages %}