{% extends "allauth/layouts/main_base.html" %}
{% load i18n %}
{% load static %}
{% load allauth account %}
{% block head_title %}
{% trans "Profile" %}
{% endblock head_title %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'assets/css/gmail/gmail_manage.css' %}">
<script src="https://unpkg.com/htmx.org@1.9.5"></script>
<script src="{% static 'assets/js/gmail_scripts.js' %}"></script>

{% endblock stylesheet %}
{% block pages %}

<div class="row">
    <div class="col-md-12">
        <div class="row emails_general_informations">
            <div class="col-md-3">
                <div class="row" style="gap: 1vw;">
                    <div class="col-md-12">
                        <div class="main_btn_desg col-md-12" id="gmail-details-container">
                            {% include 'apps/gmail/partials/gmail_details.html' %}
                        </div>                
                    </div>
                    <div class="col-md-12">
                        <div class="main_btn_desg col-md-12" id="gmail-labels-container">
                            {% include 'apps/gmail/partials/gmail_labels.html' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main_btn_desg">
                            <div class="card button_top p-3" style="color: white;margin-bottom: 1vw;">
                                <h6 class="text-left">Fetch Emails</h6>
                                <form id="email-form" method="post" class="needs-validation">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="start_time" class="form-label">Start Time:</label>
                                                <input type="datetime-local" id="start_time" name="start_time" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label for="end_time" class="form-label">End Time:</label>
                                                <input type="datetime-local" id="end_time" name="end_time" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="end_time" class="form-label">Submit:</label>
                                                <button type="submit" class="btn w-100 form_submit_btns">Fetch Emails</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="loader" class="text-center my-2" style="display: none;">
                            <div class="spinner-border" role="status" style="color: white;">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <p style="color: white;">Fetching emails, please wait...</p>
                        </div>
                        <div id="gmail_interval_times" class="row row-cols-1 row-cols-md-3 g-4">
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-top: 1vw;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="main_btn_desg">
                                    <div class="card button_top p-3" style="color: white;">
                                        <h6 class="text-left">Delete Emails by Labels</h6>
                                        <form id="delete-email-form">
                                            <input class="mb-1" type="text" id="label" name="label" required placeholder="Enter label name i.e:UNREAD">
                                            <input class="mb-1" type="number" id="max_emails" name="max_emails" value="" required placeholder="Max Emails Wanted to trash (-1 for all)">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <select id="order_by" name="order_by">
                                                        <option value="oldest">Oldest</option>
                                                        <option value="newest">Newest</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="number" id="no_of_days" name="no_of_days" value="" required placeholder="No of days old or new">
                                                </div>
                                            </div>
                                            <button type="submit" class="btn form_submit_btns mt-2">Delete Emails</button>
                                        </form>
                                        <div id="result"></div>                    
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ps-0">
                                <div class="main_btn_desg">
                                    <div class="card button_top p-3" style="color: white;">
                                        <h6 class="text-left">Delete All Emails by Id</h6>
                                        <form method="POST" id="delete-email-form-by-id">
                                            <p>Deleting all emails from the specified sender's email address. This action will remove all emails you have received from this sender.</p>
                                            <label for="email">Sender Email:</label>
                                            <input type="text" id="email" name="email" required placeholder="example@example.com">
                                            <button type="submit" class="btn form_submit_btns mt-1">Delete Emails</button>
                                        </form>
                                        <div id="result_email"></div>                    
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#email-form").submit(function (e) {
            e.preventDefault(); // Prevent the default form submission

            $("#loader").show();

            var start_time = $("#start_time").val();
            var end_time = $("#end_time").val();

            $.ajax({
                type: "POST",
                url: "{% url 'gmail_manage:email_interval_view' %}",
                data: {
                    'start_time': start_time,
                    'end_time': end_time,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'  // CSRF token for security
                },
                success: function (response) {
                    $("#loader").hide();

                    $("#gmail_interval_times").empty();

                    if (response.emails && response.emails.length > 0) {
                        response.emails.forEach(function (email) {
                            var cardHtml = `
                                <div class="col">
                                    <div class="main_btn_desg h-100">
                                    <div class="card button_top h-100">
                                        <div class="gmail_basic_informations">
                                            <div class="label">Sender:</div>
                                            <div class="main_label">${email.sender}</div>
                                            
                                            <div class="label">Subject:</div>
                                            <div class="main_label">${email.subject}</div>
            
                                            <div class="label">Date:</div>
                                            <div class="main_label">${email.date}</div>
                                        </div>
                                        <div class="card-body p-0">
                                            <div class="card__content">
                                                <p class="card__title">Message</p>
                                                <p class="card__description">${email.snippet}</p>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>`;
                            $("#gmail_interval_times").append(cardHtml);
                        });
                    } else {
                        var noEmailsHtml = `
                            <p style="color:white;text-align:center;width:100%;">No emails found for the selected interval.</p>`;
                        $("#gmail_interval_times").append(noEmailsHtml);
                    }
                },
                error: function (xhr, status, error) {
                    $("#loader").hide();

                    var errors = xhr.responseJSON.errors;
                    for (var field in errors) {
                        errors[field].forEach(function (errorMessage) {
                            alert(field + ': ' + errorMessage);
                        });
                    }
                }
            });
        });
    });

    document.getElementById("delete-email-form").addEventListener("submit", async (event) => {
        event.preventDefault();

        const formData = new FormData(event.target);
        const data = Object.fromEntries(formData.entries());
        const resultDiv = document.getElementById("result");

        resultDiv.innerHTML = "Processing...";

        try {
            const response = await fetch("{% url 'gmail_manage:delete_gmail_by_labels' %}", {
                method: "POST",
                body: new URLSearchParams(data),
                headers: {
                    "X-CSRFToken": getCookie("csrftoken"),
                },
            });

            const result = await response.json();

            if (response.ok) {
                resultDiv.style.color = 'green'; 
                resultDiv.innerHTML = result.logs.map(log => `<p>${log}</p>`).join("");
            } else {
                resultDiv.style.color = 'red';
                resultDiv.innerHTML = `<p>Error: ${JSON.stringify(result.errors)}</p>`;
            }
        } catch (error) {
            resultDiv.style.color = 'red';
            resultDiv.innerHTML = `<p>Error: ${error.message}</p>`;
        }

    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === name + "=") {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $(document).ready(function() {
        $('#delete-email-form-by-id').on('submit', function(e) {
            e.preventDefault(); // Prevent default form submission
            const email = $('#email').val();
            const resultDiv = document.getElementById("result_email");
            resultDiv.innerHTML = "Processing...";
            $.ajax({
                url: "{% url 'gmail_manage:delete_gmail_by_id' %}",
                type: "POST",
                data: {
                    email: email,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(response) {
                    if (response.status === "success") {
                        $('#result_email').text(response.message).css('color', 'green');
                    } else {
                        $('#result_email').text(response.message).css('color', 'red');
                    }
                },
                error: function() {
                    $('#result_email').text("An error occurred while processing your request.").css('color', 'red');
                }
            });
        });
    });
</script>

{% endblock pages %}