.main_btn_desg {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #35a997;
    --button_outline_color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: .5px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.4em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.1em);
    transition: transform 0.1s ease;
}

.main_btn_desg:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

.main_btn_desg:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}

.emails_general_informations {
    padding: none !important;
}

.emails_general_informations .col-md-3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.gmail_refresh_total {
    border-radius: 5px;
    background-color: #ffffff;
    border: none;
    color: #0e7c66;
    margin-left: 5px;
}

.gmail_refresh_total:hover {
    background-color: #0e7c66;
    color: #ffffff;
    transition: .4s;
}

.gmail_refresh_total svg {
    width: 16px !important;
    height: 16px !important;
}

.main_btn_desg .skdf {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
}

.main_btn_desg .tsdjhses {
    width: 14px !important;
    height: 14px !important;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 1s linear infinite;
}

.g-4,
.gx-4 {
    --bs-gutter-x: 1rem !important;
}

.g-4,
.gy-4 {
    --bs-gutter-y: 1rem !important;
}





.card {
    position: relative;
    background-color: #35a996;
    border-radius: 10px;
    overflow: hidden;
    perspective: 1000px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll !important;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ececec;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__content::-webkit-scrollbar {
    width: 5px !important;
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 12px;
    color: #333;
    font-weight: 700;
}

.card:hover svg {
    scale: 0;
}

.card__description {
    margin: 10px 0 0;
    font-size: 10px;
    color: #777;
    line-height: 1.4;
}

.gmail_basic_informations {
    padding: 10px;
    color: white;
    font-size: 14px;
    line-height: 14px;
}

.gmail_basic_informations .label {
    font-weight: 600;
    display: block;
    font-size: 10px;
}

.gmail_basic_informations .main_label {
    margin-bottom: 10px;
    font-size: 10px;
}

.gmail_interval_times .g-4,
.gx-4,
.gmail_interval_times .g-4,
.gy-4 {
    --bs-gutter-y: 1rem !important
}

#loader {
    margin-top: 20px;
}


.form-label {
    font-size: 12px;
    margin-bottom: .2rem !important;
}

.form-group button,
.form-group input {
    font-size: 12px;
}

.form_submit_btns{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.form_submit_btns:hover {
    background: white !important;
    color: #0e7c66;
}
#delete-email-form-by-id input,
#delete-email-form select,
#delete-email-form input{
    background-color: #ffffff61 !important;
    border: 1px solid #0e7c66;
    border-radius: 6px;
    width: 100%;
    padding: 5px;
    color: white;
}
#delete-email-form-by-id input::placeholder,
#delete-email-form input::placeholder{
    color: #c6ecde;
}
#delete-email-form-by-id button,
#delete-email-form button{
    font-size: 12px;
}
#result_email,
#result{
    max-height: 130px;
    background:#2a958499;
    padding: 0 5px;
    border-radius: 5px;
    margin-top: 8px;
    overflow: auto;
    border: 1px solid #0e7c66;
}
#result_email::-webkit-scrollbar,
#result::-webkit-scrollbar{
    width: 6px !important;
}
#result_email p,
#result p{
    margin: 0;
    list-style: disc;
}